@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*{
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f5f6f8 !important;
    overflow-y: hidden; /* Désactive le défilement vertical */
}


.sidebar {
   background-color: white !important;
    font-size: 14px;
    width: 205px;
    box-shadow: 0 4px 8px rgba(204, 206, 208, 0.3); /* Ombre pour effet de surélévation */

}

/* Styles par défaut pour les éléments de la navbar */
.nav-item {
    margin-bottom: 20px; /* Ajoute de l'espace sous chaque élément */
    transition: all 0.3s ease; /* Transition douce pour l'effet de survol */
}

.nav-link {
    padding-left: 15px; /* Augmente l'espace entre l'icône et le texte */
    padding-right: 15px; /* Ajoute un peu de marge de chaque côté du lien */
    border-radius: 20px; /* Bords arrondis */
    transition: all 0.3s ease; /* Transition douce pour l'effet de survol */
}

/* Effet de survol */
.nav-link-to-go:hover {
    color: white !important;
    background-color: #007bff; /* Fond bleu */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Ombre pour effet de surélévation */
    transform: translateY(-2px); /* Légère surélévation pour l'effet de survol */
}

.nav-link-current{
    color: black !important;
    background-color: #ffe800; /* Fond bleu */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Ombre pour effet de surélévation */
}

/* Appliquer l'effet de survol également sur l'icône */
.nav-link i {
    transition: transform 0.3s ease;
}

/* Si tu veux que l'icône se déplace légèrement aussi pendant le survol */
.nav-link:hover i {
    transform: scale(1.1); /* Agrandir l'icône légèrement */
}


.input-box {
    position: relative;
    width:280px;
}

.input-box i {
    position: absolute;
    right: 11px;
    top: 10px;
    color: #ced4da;
    font-size: 13px;
}

.form-control {
    height: 30px;
    padding: 5px 10px; /* Réduction du padding interne */
    background-color: #eeeeee69;
    border-radius: 30px; /* Rounded corners */
    font-size: 13px;
    padding-right: 30px;
}

.form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #007bff; /* Blue border when focused */
}

.col-lg-10 {
    width: 88.333%;
}


#cryptoPieChart {
    max-width: 300px;
    max-height: 300px;
}

#cryptoLegend {
    padding-left: 0;
    list-style: none;
}

#cryptoLegend li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#cryptoLegend li span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}




.box {
    box-shadow: 1px 1px 4px 1px #d9d3d3;
    border-radius: 20px;
    background-color: white;
}

.main_button{
    margin-right: 40px;
}


#totalValue{
    color:#ffd700;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px #756f3c;
}


#wallet:hover{
    transform: scale(1.1); /* Agrandit l'image à 110% */
}

.card-title {
    margin-bottom:.5rem;
    font-size: 16px;
}
.card-text{
    margin-top: 18px;
    font-size: 14px;
}



/*css for exchange cryptos box*/


/* Styles pour améliorer le rendu visuel */
.exchange-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.exchange-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}



/* For input*/

/* Structure de base des champs */
.form-group {
    position: relative !important;
    margin-bottom: 2.1rem; !important
    flex-grow: 1 !important;
    margin-right: 10px !important;
}

/* Style des champs de saisie */
.form-control {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    padding: 12px 12px 12px 15px !important;
    font-size: 12px !important;
    width: 88% !important;
    outline: none !important;
    background-color: #fff !important;
}

/* Focus sur les champs de saisie */
.form-control:focus {
    border-color: #007bff !important;
}

/* Positionnement des labels */
.info {
    position: absolute !important;
    top: 14px !important;
    left: 15px !important;
    font-size: 14px !important;
    color: #999 !important;
    transition: all 0.3s ease !important;
    pointer-events: none !important;
}

label{
    font-size: 12px;
}

/* Effet flottant du label lorsque l'input est focus ou non vide */
.form-control:focus + label ,
.form-control:not(:placeholder-shown) + label {
    top: -10px !important;
    left: 15px !important;
    font-size: 12px !important;
    color: #007bff !important;
    background-color: #fff !important;
    padding: 0 0 !important;
}

/* Eviter que le label ne remonte si le champ est vide */
.form-control:placeholder-shown + label {
    top: 6px !important;
    font-size: 12px !important;
    color: #999 !important;
    background-color: transparent !important;
    padding-left : 3px !important;
}

/* Style spécifique pour les icônes et bouton */


#cryptoPriceSend, #cryptoBalanceSend, #cryptoPriceGet, #cryptoBalanceGet{
    width: 150px;        /* Fixe la largeur des éléments */
    white-space: nowrap; /* Empêche le texte de se casser */
    overflow: hidden;    /* Cache le texte excédentaire */
    text-overflow: ellipsis; /* Ajoute des points de suspension si nécessaire */
    flex-shrink: 0;      /* Empêche la réduction de la largeur */
}


/*Deactivate exchange button to avoid exchange the same crypto*/
.deactivate{
    background-color: #d6d6d6; /* Couleur grise pour indiquer qu'il est désactivé */
    color: #a1a1a1; /* Texte grisé */
    border-color: #d6d6d6; /* Bordure grise */
    cursor: not-allowed /* Curseur qui indique que l'interaction n'est pas possible */
}



/*Center Each element of transaction in its column*/
table {
    border-collapse: collapse; /* Supprimer les espaces entre les bordures */
}

th, td {
    text-align: center; /* Centrer les textes horizontalement */
    vertical-align: middle; /* Centrer les textes verticalement */
    padding: -5px; /* Ajouter un peu d'espace autour des textes */
}

.table tbody {
    font-weight:300;
    font-size: 13px;
}


/* Style de transition pour les lignes du tableau */
#transactions-table-body tr {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transition de fondu */
    transform: translateY(10px);
}

/* Quand la ligne est ajoutée, elle devient visible avec un effet de décalage */
#transactions-table-body tr.added {
    opacity: 1;
    transform: translateY(0); /* Remet la ligne à sa position d'origine */
}

.status-completed {
    color: green !important;
    font-weight: bold !important;
}

.transaction-type-exchange {
    color: blue !important; /* Bleu pour Exchange */
    font-weight: bold !important;
}

.transaction-type-sell {
    color: red !important;/* Rouge pour Sell */
    font-weight: bold !important;
}

.transaction-type-withdraw {
    color: #54059d !important; /* Violet pour Withdraw */
    font-weight: bold !important;
}

.transaction-type-send {
    color: #e3970c !important; /* Orange pour Send */
    font-weight: bold !important;
}

.transaction-type-receive {
    color: #26b99e !important; /* Orange pour Send */
    font-weight: bold !important;
}

.transaction-type-purchase {
    color: #13a2bb !important; /* Orange pour Send */
    font-weight: bold !important;
}

.transaction-logo{
    width: 20%;
    height: auto;
}

.amount-positive {
    color: #07ad07 !important;
    font-weight: bold !important;
}

.amount-negative {
    font-weight: bold !important;
    color: #ce0505 !important;
}











