<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/userPage.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // When the page loads, add a new entry to the browser's history
        window.onload = function () {
            history.pushState(null, null, window.location.href);
        };

        // Prevent the user from going back
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, window.location.href); // Push a new state to the history
        });
    </script>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Section -->
        <nav class="col-md-2 col-lg-1 d-md-block bg-light sidebar vh-100">
            <div class="position-sticky">
                <div class="p-3 text-center">
                    <img src="/img/logo-transparent-svg.svg" alt="Logo" class="img-fluid mb-3"
                         style="max-width: 120px;">
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link nav-link-current d-flex align-items-center text-black fw-bold" href="#">
                            <!-- Icon with spacing between icon and text -->
                            <i class="bi bi-house-door me-3"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-to-go d-flex align-items-center text-black fw-bold"
                           href="/cryptoHolding/allOwnedCryptos">
                            <!-- Icon with spacing between icon and text -->
                            <i class="bi bi-graph-up me-3"></i>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-to-go d-flex align-items-center text-black fw-bold"
                           href="/crypto/allCryptosPage">
                            <!-- Icon with spacing between icon and text -->
                            <i class="bi bi-card-checklist me-3"></i>
                            <span>Cryptocurrencies</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-to-go d-flex align-items-center text-black fw-bold" href="#">
                            <!-- Icon with spacing between icon and text -->
                            <i class="bi bi-wallet2 me-3"></i>
                            <span>Wallet</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-to-go d-flex align-items-center text-black fw-bold" href="#">
                            <!-- Icon with spacing between icon and text -->
                            <i class="bi bi-person-plus me-3"></i>
                            <span>Payment Method</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content Section -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <!-- Flex container to align the search bar on the left and other elements on the right-->
            <div class="d-flex justify-content-between align-items-center mt-2">
                <!-- Search toolbar-->
                <div class="input-box">
                    <input type="text" class="form-control" placeholder="Search coins">
                    <i class="fa fa-search"></i>
                </div>

                <!-- Element container on the right -->
                <div class="d-flex justify-content-end align-items-center" style="margin-right: 800px;">

                    <!-- Avatar -->
                    <div class="dropdown">
                        <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow"
                           href="#" id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                            <img th:src="@{/img/avatar/{path}(path=${profile.getAvatar()})}" class="rounded-circle"
                                 height="50" alt="Avatar" loading="lazy"/>
                        </a>
                    </div>

                    <!-- Lastname and Firstname -->
                    <div class="ms-3 fw-light" style="font-size: 14px;">
                        <span th:text="${user.getLastName()} + ' ' + ${user.getFirstName()}"></span>
                        <!-- Prénom et Nom -->
                    </div>

                </div>
            </div>
            <div class="row mt-3">

                <!-- Left part(70%) -->
                <div class="col-md-9 d-flex flex-column justify-content-between">
                    <!-- Adjust height if necessary -->
                    <div class="p-3 mt-3"
                         style="height: 180px; display: flex; justify-content: center; align-items: center;">

                        <div class="box"
                             style="display: flex; align-items: center; padding: 0px 24px; margin: 0px auto;">
                            <!-- Wallet Picture-->
                            <div style="margin-right: 20px;">
                                <img id="wallet" src="/img/wallet_image/wallet1.png" alt="Wallet Image"
                                     style="width: 160px; height: 160px; transition: transform 0.3s ease;">
                            </div>

                            <!-- Block 2 : Wallet's name and button -->
                            <div>
                                <!-- Wallet's name display -->
                                <h5 th:text="${defaultWallet.getName()}"></h5>
                                <!-- Button to change wallet -->
                                <button id="changeWalletButton" class="btn btn-primary mt-2">Change Wallet</button>
                            </div>
                        </div>


                        <!-- Main container for cumulative price and buttons -->
                        <div class="box"
                             style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; max-width: 686px; height: 100%; padding-right: 35px">

                            <!-- Left column for cumulative price -->
                            <div class="d-flex flex-column justify-content-center"
                                 style="width: 60%; height: 100%; text-align: center;">
                                <h5>Total balance</h5>
                                <!-- Affichage du prix cumulé -->
                                <div id="totalValue" class="fs-3 fw-bold">0.00 USD</div>

                                <!-- Arrow and percentage on the same line -->
                                <div id="valueChange"
                                     style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
                                    <span id="arrow" style="font-size: 12px; margin-top: -4px;"></span>
                                    <!-- Flèche réduite -->
                                    <span id="percentage" style="font-size: 14px; margin-left: 5px;"></span>
                                    <!-- Pourcentage à gauche de la flèche -->
                                </div>
                            </div>


                            <!-- Right column for the 4 buttons -->
                            <div class="d-flex flex-column justify-content-center align-items-center"
                                 style="width: 35%; height: 100%; text-align: center;">
                                <div class="d-flex justify-content-between w-100 mb-2 main_button">
                                    <!-- First row of buttons (links) -->
                                    <a href="/paymentMethod/payment" class="btn btn-primary"
                                       style="width: 108px">Buy</a>
                                    <a href="/cryptoHolding/sell" class="btn btn-primary" style="width: 108px">Sell</a>
                                </div>
                                <div class="d-flex justify-content-between w-100 main_button">
                                    <!-- Second line of buttons (links) -->
                                    <a href="/cryptoHolding/send" class="btn btn-primary" style="width: 108px">Send</a>
                                    <a href="/cryptoHolding/withdraw" class="btn btn-primary" style="width: 108px">Withdraw</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Block 2-->
                    <div class="p-3" style="height: 230px; margin-top: -80px;">
                        <h4 style="font-size: 1.3rem;">Tendency</h4>
                        <div class="row mt-4">
                            <!-- Display the first 4 cryptos as cards -->
                            <div class="col-md-3" th:each="crypto, iterStat : ${cryptocurrenciesSortedByPrice}"
                                 style="background-color: #f5f6f8;">
                                <div class="card mb-3" style="width: 80%; height: 220px; background-color: #f5f6f8;">
                                    <div class="card-body text-center box">

                                        <div class="crypto-name-wrapper"
                                             style="display: flex; align-items: center; justify-content: center">
                                            <!-- Crypto image on the left -->
                                            <img th:src="@{'https://cryptologos.cc/logos/' + ${crypto.name.toLowerCase().replace(' ', '-') + '-' + crypto.symbol.toLowerCase() + '-logo.png'}}"
                                                 class="crypto-logo" alt="Logo de la crypto"
                                                 style="width: 10%; height: auto; margin-right: 5px; margin-top: -8px;">
                                            <!-- Nom de la crypto -->
                                            <h5 class="card-title" th:text="${crypto.name}"></h5>
                                        </div>


                                        <!-- Price trend graph -->
                                        <canvas th:id="'cryptoChart' + ${iterStat.index}"
                                                style="width: 60%; height: 50px; margin-top: 25px"></canvas>

                                        <!-- Crypto price -->
                                        <p class="card-text"
                                           th:id="'cryptoPrice' + ${iterStat.index}"
                                           th:text="'$' + ${crypto.currentPrice}">
                                        </p>

                                        <!-- Affichage de la variation du prix -->
                                        <div th:id="'cryptoPriceChange' + ${iterStat.index}"
                                             style="display: flex; align-items: center; justify-content: center; margin-top: -17px;">
                                            <span th:id="'arrow' + ${iterStat.index}" class="variation"
                                                  style="font-size: 10px; margin-top: -1px;"></span>
                                            <span th:id="'percentage' + ${iterStat.index}" class="variation"
                                                  th:text="'0.00%'" style="font-size: 12px; margin-left: 5px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--Block 3 -->
                    <div class="p-3 box" style="height: 320px; margin-top: 30px;">
                        <h2 style="font-size: 1.3rem;">Dernières Transactions</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Time</th>
                                <th>Currency</th>
                                <th>Symbol</th>
                                <th class="transaction-logo">Logo</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody id="transactions-table-body">
                            <!-- Transaction lines will be inserted here via JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Right side (30%) -->
                <div class="col-md-3 d-flex flex-column justify-content-between">
                    <div class="p-3 mt-3 box" style="height: 340px;">
                        <h5 class="text-center">Assets Ratio</h5>
                        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">

                            <!-- Graphic container -->
                            <div class="d-flex justify-content-center" style="width: 50%; max-width: 200px;">
                                <canvas id="cryptoPieChart" style="width: 100%; height: 100%;"></canvas>
                            </div>

                            <!-- Legend -->
                            <div class="ms-3" style="width: 40%; max-width: 150px;">
                                <ul id="cryptoLegend" class="list-unstyled text-center"></ul>
                            </div>

                        </div>
                    </div>

                    <!-- Exchange-->
                    <div class="p-3 box" style="height: 470px; margin-top: 20px; background-color: white;">
                        <h5 class="text-center">Exchange</h5>
                        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">

                            <!-- Section "You Send" -->
                            <div class="mb-0 w-100 d-flex justify-content-between align-items-center"
                                 style="position: relative">
                                <div class="ms-3">
                                    <!-- Drop-down list to select the crypto to send -->
                                    <div class="crypto-select-wrapper"
                                         style="position: relative; width: 200px; margin-bottom: 33px;">
                                        <!-- Button displaying the selected crypto -->
                                        <button class="btn btn-rounded btn-light dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="width: 65%; display: flex; align-items: center; justify-content: space-between;">
                                            <div style="display: flex; align-items: center;">
                                                <!-- Crypto image -->
                                                <img id="selectedCryptoImage"
                                                     src="https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                                                     alt="logo"
                                                     style="width: 20px; height: 20px; object-fit: contain; margin-right: 10px;">
                                                <span id="selectedCryptoSymbol">BTC</span>
                                            </div>
                                        </button>


                                        <!-- Drop-down list -->
                                        <ul class="dropdown-menu"
                                            style="width: 100%; padding: 0; max-height: 200px; overflow-y: auto;">
                                            <th:block th:each="crypto : ${ExchangeableCryptos}">
                                                <li style="display: flex; align-items: center;">
                                                    <a class="dropdown-item" href="#" onclick="changeCrypto(this)"
                                                       data-name="${crypto.symbol}"
                                                       data-price="${crypto.currentPrice}"
                                                       data-logo="@{'https://cryptologos.cc/logos/' + ${crypto.name.toLowerCase()} + '-' + ${crypto.symbol.toLowerCase()} + '-logo.png'}">
                                                        <!-- Image de la crypto dans l'option -->
                                                        <img th:src="@{'https://cryptologos.cc/logos/' + ${crypto.name.toLowerCase()} + '-' + ${crypto.symbol.toLowerCase()} + '-logo.png'}"
                                                             alt="logo"
                                                             style="width: 20px; height: 20px; object-fit: contain; margin-right: 10px;">
                                                        <span th:text="${crypto.symbol}"></span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </ul>

                                    </div>
                                    <div class=""
                                         style="font-size: 12px; position: absolute; top:44px; left: 32px; color: black; display: flex; align-items: center; gap: 43px;">
                                        <!-- Display Bitcoin price (default crypto, must be modified when selecting another crypto)-->
                                        <p id="cryptoPriceSend"
                                           th:text="'1 BTC = $' + ${defaultSendCrypto.getCurrentPrice()}"
                                           style="margin: 0;"></p>
                                        <!-- amount of Bitcoin in the user's wallet (default crypto, must be modified when another crypto is selected)-->
                                        <p id="cryptoBalanceSend"
                                           th:text="'Balance: ' + ${userDefaultSendCrypto.getAmount()} + ' BTC'"
                                           style="margin: 0;"></p>
                                    </div>

                                </div>
                                <!-- End section "You Send" -->

                                <!-- Send Amount Input -->
                                <form>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="form-group">
                                            <input type="text" id="sendAmount" class="form-control" placeholder=" "/>
                                            <label for="sendAmount" class="info"> Amount </label>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <!-- Change button -->
                            <div class="my-2">
                                <label for="sendAmount" class="form-label text-center"
                                       style="font-size: 12px; margin-left: -8px; margin-bottom: -2px;">YOU SEND</label>
                                <button id="exchangeButton"
                                        class="btn btn-outline-primary d-flex justify-content-center align-items-center"
                                        style="border-radius: 50%; width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-down-up"></i>
                                </button>
                                <label for="getAmount" class="form-label text-center" style="font-size: 12px;">YOU
                                    GET</label>
                            </div>

                            <!-- Section "You Get" -->
                            <div class="mb-3 mt-4 w-100 d-flex justify-content-between align-items-center">
                                <div class="ms-3">
                                    <div class="crypto-select-wrapper"
                                         style="position: relative; width: 200px; margin-bottom: 33px;">
                                        <!-- Button displaying the selected crypto -->
                                        <button class="btn btn-rounded btn-light dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="width: 65%; display: flex; align-items: center; justify-content: space-between;">
                                            <div style="display: flex; align-items: center;">
                                                <!-- Crypto image -->
                                                <img id="selectedReceiveCryptoImage"
                                                     src="https://cryptologos.cc/logos/ethereum-eth-logo.png"
                                                     alt="logo"
                                                     style="width: 20px; height: 20px; object-fit: contain; margin-right: 10px;">
                                                <span id="selectedReceiveCryptoSymbol">ETH</span>
                                            </div>
                                        </button>

                                        <!-- Drop-down list -->
                                        <ul class="dropdown-menu"
                                            style="width: 100%; padding: 0; max-height: 200px; overflow-y: auto;">
                                            <th:block th:each="crypto : ${ExchangeableCryptos}">
                                                <li style="display: flex; align-items: center;">
                                                    <a class="dropdown-item" href="#"
                                                       onclick="changeReceiveCrypto(this)"
                                                       data-name="${crypto.symbol}"
                                                       data-logo="@{'https://cryptologos.cc/logos/' + ${crypto.name.toLowerCase()} + '-' + ${crypto.symbol.toLowerCase()} + '-logo.png'}">
                                                        <!-- Crypto image in option -->
                                                        <img th:src="@{'https://cryptologos.cc/logos/' + ${crypto.name.toLowerCase()} + '-' + ${crypto.symbol.toLowerCase()} + '-logo.png'}"
                                                             alt="logo"
                                                             style="width: 20px; height: 20px; object-fit: contain; margin-right: 10px;">
                                                        <span th:text="${crypto.symbol}"></span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>

                                    <div class=""
                                         style="font-size: 12px; position: absolute; margin-top: -26px; margin-left: 15px; color: black; display: flex; align-items: center; gap: 45px;">
                                        <!-- Display the price of the default cryptocurrency exchange -->
                                        <p id="cryptoPriceGet"
                                           th:text="'1 ETH = $' + ${defaultGetCrypto.getCurrentPrice()}"
                                           style="margin: 0;"></p>
                                        <p id="cryptoBalanceGet"
                                           th:text="'Balance: ' + ${userDefaultGetCrypto.getAmount()} + ' ETH'"
                                           style="margin: 0;"></p>
                                    </div>

                                </div>

                                <!-- Get Amount Input -->
                                <form>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="form-group">
                                            <input type="text" id="getAmount" class="form-control" placeholder=" "
                                                   disabled/>
                                            <label for="getAmount" class="info"> Amount </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Button to finalize exchange -->
                            <div class="mt-4">
                                <button id="confirmExchange" class="btn btn-primary w-100" style="border-radius: 8px;">
                                    Exchange
                                </button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </main>
    </div>
</div>

<!-- Moving data from the backend to the frontend-->
<script th:inline="javascript">
    /*<![CDATA[*/
    const cryptoHoldingsData = /*[[${defaultWallet.cryptoHoldings}]]*/ [];
    var walletId = /*[[${defaultWallet.id}]]*/ 0;

    /*]]>*/
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/homePage.js"></script>
<script src="/js/userPage.js"></script>
<script src="/js/priceChart.js"></script>
<script src="/js/transactionHistory.js"></script>
</body>
</html>